.footer-section {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 1em;
  > div {
    margin-top: 2.5em;
    display: flex;
    justify-content: space-around;
    @media (orientation: portrait) and(max-width: 576px) {
      flex-direction: column;
    }
  }
  @media screen and(max-width: 576px) {
    padding-left: 0em;
    padding-right: 0em;
  }
}

.title-footer {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  color: #888f96;
}

.menu-footer {
  @media screen and(max-width: 576px) {
    align-items: center;
    justify-content: center;
    margin-bottom: 4em;
  }
}

.menu-footer-item {
  @media screen and(max-width: 576px) {
    text-align: center;
  }
}

.text-menu-footer {
  display: flex;
  margin-top: 1.5em;
  flex-direction: column;
  font-family: Lato;
  font-size: 12px;
  line-height: 1.67;
  color: #888f96;
  > span {
    cursor: pointer;
  }
}

.powered-footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  @media screen and(max-width: 576px) {
    align-items: center;
  }
}

.logo-mytrust {
  cursor: pointer;
  width: 165px;

  @media (orientation: landscape) and(max-width: 750px) {
    width: 120px;
  }

  @media screen and(max-width: 576px) {
    margin-bottom: 2.5em;
  }
}

.logo-everis {
  width: 220px;

  @media (orientation: landscape) and(max-width: 750px) {
    width: 100px;
  }

  @media screen and(max-width: 576px) {
    margin-bottom: 2.5em;
    width: 110px;
  }
}

.logo-grey {
  width: 30px;
  margin-bottom: 1em;
}

.follow-footer {
  @media screen and(max-width: 576px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.6em;
  }
}

.follow-icons {
  margin-top: 0.5em;
  font-size: 18px;
  > a > i {
    cursor: pointer;
    color: #898f95;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 23px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
    border: solid 0.5px #dddddd;
    background-color: #ffffff;
  }
  @media screen and(max-width: 576px) {
    font-size: 14px;
  }
}

.copyright-section {
  text-align: center;
  margin: 2.5em 0;
  font-family: Lato;
  font-size: 12px;
  color: #888f96;
  padding-top: 40px;
  padding-bottom: 20px;
  @media screen and(max-width: 576px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
