.title-benefit {
  color: #363535 !important;
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.17;
  @media (max-width: 569px) {
    color: #643ee9 !important;
  }
}

.description-benefit {
  margin-top: 1em;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.29;
  color: #8a8f94;

  @media (max-width: 576px) {
    text-align: center;
  }
}

.icon-section-mobile {
  margin: 2em 0 0;
}

.title-section-mobile {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  color: #643ee9;
  margin: 1.5em;
}

.texts-menu-benefits {
  display: flex;
  flex-direction: column;
  font-family: Lato;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
  color: rgba(69, 69, 69, 0.42);
  > h2 {
    cursor: pointer;
    color: rgba(69, 69, 69, 0.42);
    font-family: Lato;
    font-size: 28px;
    font-weight: bold;
  }
}

.container-benefits-section {
  display: none;  

  @media (orientation: landscape) and  (min-width: 850px) and (min-height: 580px)  {
    min-height: 89vh;
    display: flex;  
    align-items: center;
  }

  @media (orientation: portrait) and  (min-width: 690px) and (min-height: 780px)  {
    min-height: 89vh;
    display: flex;  
    align-items: center;
  }
}

.menu-benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 40%;

  @media (max-width: 992px) and (min-width: 576px) {
    // margin: 2.5em 0;
    // flex-flow: row-reverse;
    // justify-content: space-around;
    // align-items: flex-end;
    // height: 23vh;
    margin-left: auto;
    width: 30%;
  }
}

.container-benefits-desktop {
  display: flex;
  width: 60%;
  align-items: center;
  height: 89vh !important;

  > div div {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .container-section-benefit {
    @media (min-width: 1200px) {
      width: 80%;
      height: 89vh;
      display: flex;
      justify-content: center;
    }

    @media (max-width: 1200px) and (min-width: 992px) {
      display: flex;
      justify-content: center;
      width: 95%;
      height: 89vh;
    }

    @media (max-width: 992px) and (min-width: 576px) {
      display: flex;
      // margin: auto;
      justify-content: center;
      width: 95%;
     height: 89vh;
    }

    @media (max-width: 576px) {
      width: 95%;
    }
  }

  @media (max-width: 992px) and (min-width: 576px) {
    width: 65%;
  }
}

.icon-section {
  margin-bottom: 2em;
  @media (max-width: 992px) and (min-width: 576px) {
    display: initial;
    margin-bottom: 0;
  }
}

.collapse-carousel-benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  @media (orientation: landscape) and (min-width: 850px) and (min-height: 580px)  {
    display: none;
  }

  @media (orientation: portrait) and (min-width: 690px) and (min-height: 780px)  {
    display: none;
  }

  .ant-collapse-borderless {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .ant-collapse-item {
      margin-bottom: 15px !important;
      width: 90%;
      @media (max-width: 992px) and (min-width: 576px) {
        width: 80%;
      }
    }

    .ant-collapse-item-active {
      width: 100%;
      @media (max-width: 992px) and (min-width: 576px) {
        width: 100%;
      }

      .ant-collapse-header {
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
        border: solid 0.3px #c5c5c5;
        margin: 0.5em 0 2em;
        border-style: solid hidden;
      }
    }
  }

  .ant-collapse-header {
    padding-left: 25px !important;
    font-weight: 500;
    font-family: lato;
    border-radius: 4px !important;
    border: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 13px;
    line-height: 1.67 !important;
    color: #7b20fc !important;

    .anticon {
      font-size: 1em !important;
      right: 16px !important;
      left: auto !important;

      svg {
        background-color: #7b20fc;
        font-size: 2em;
        color: #ffffff;
        border-radius: 50%;
      }
    }
  }
}

.container-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (orientation: landscape) and (min-width: 850px) and (min-height: 580px)  {
    display: none;
  }

  @media (orientation: portrait) and (min-width: 690px) and (min-height: 780px)  {
    display: none;
  }

  .slick-dots {
    position: initial;
    margin-top: 1em;
  }

  .ant-carousel .slick-dots li.slick-active button {
    width: 20px !important;
  }

  .slick-dots li {
    .slick-active {
      background: #000 !important;
    }

    button {
      background: #000 !important;

      &::before {
        display: none !important;
      }
    }
  }

  > .ant-carousel {
    width: 80% !important;

    .slick-arrow{
      height: 1.5em !important;
      font-size: 1.5em;
    }

    .slick-track {
      display: flex;
      align-items: center;
    }

    .slick-slide {
      display: flex !important;
      align-items: center;
      text-align: center;
      justify-content: center;
      line-height: 160px;
      overflow: hidden;

      > div {
        display: flex;
      }

      .ant-card {
        border: none !important;

        .ant-card-body .ant-card-meta {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          padding: 0.5em 1.5em 2em;

          .ant-card-meta-title {
            margin-bottom: 1em;
          }
        }
      }
    }
  }
}

.active {
  color: #643ee9;
}

.arrowRight{
  position: absolute;
  right: 8%;
  z-index: 4;
}

.arrowLeft{
  position: absolute;
  left: 8%;
  z-index: 4;
}