.button-error {
    color: #643ee9;
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    padding-left: 1.8em;
    padding-right: 1.8em;
    height: 40px;
    margin-top: 40px;
}

.image-404 {
    width: 316px;
    height: auto;
    margin-bottom: 40px;
    @media screen and(max-width: 576px) {
        width: 180px;
    }
}

.error-title {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    @media screen and(max-width: 576px) {
        font-size: 18px;
    }
}

.error-subtitle {
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    @media screen and(max-width: 576px) {
        font-size: 12px;
    }
}

.container-error {
    width: 100vw;
    height: 100vh;
    background-color: #6c61f7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media screen and(max-width: 576px) {
        padding-right: 20px;
        padding-left: 20px;
    }
}
  