.contact-input {
  border: 1px solid transparent !important;
  font-size: 12px;
  color: #6c41a8;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.contact-input::placeholder {
  color: #ffffff;
}

.title-contact {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.29;
  text-align: center;

  @media (max-width: 768px) and (min-width: 576px) {
    font-size: 20px;
    display: block;
  }

  @media (min-width: 769px) {
    font-size: 24px;
  }
}

.subtitle-contact {
  font-size: 12px;
  line-height: 1.33;
  text-align: center;

  @media (max-width: 768px) and (min-width: 576px) {
    font-size: 14px;
  }

  @media (min-width: 769px) {
    font-size: 16px;
  }
}

.ant-form {
  display: flex;
  flex-direction: column;
}

.ant-form-item {
  margin-bottom: 5px !important;
}

.textarea-input {
  margin: 8px 0;
}

.login-form-button {
  margin-top: 1em;
  font-size: 13px;
  font-weight: bold;
  color: #6c41a8;
  font-family: Lato;
}

.error-contact{
  font-family: Lato;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}

.has-error .ant-form-explain,
.has-error .ant-form-split {
  display: none !important;
}

.anticon-close {
  border: 1px solid white;
  padding: 0.5em;
  margin: 1em 1em 0 0;
  border-radius: 50%;
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
}

.success-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.success-image {
  align-items: center;
  margin-bottom: 40px;
}

.success-title {
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.success-description {
  color: white;
  font-size: 16px;
  text-align: center
}

.success-button {
  color: #643ee9;
  background-color: white;
  font-weight: bold;
  font-size: 16px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: 40px;
}
