.my-trust-dektop{
  display: flex;
  @media (max-width: 576px){
    display: none;
  }
}

.my-trust-mobile{
  display: flex;
  @media (min-width: 577px){
    display: none;
  }
}

.my-trust {
  background-size: cover;
  background-position: center;
  height: 100vh;
  justify-content: center;
  align-items: center;

  @media (max-width: 725px) and (min-width: 577px) and (min-height: 500px) {
    height: 55vh;
  }

  @media (orientation: portrait) and (max-width: 576px){
    height: 65vh;
  }

  @media (orientation: portrait) and (min-height: 1000px){
    height: 50vh;
  }
}

.content-my-trust {
  flex-direction: column;
  width: 80%;
  display: flex;
  height: 80%;
  justify-content: space-between;
  align-items: center;
  margin-top: 12vh;
  font-family: Lato;
  font-size: 16px !important;
  font-weight: bold;
  line-height: 1.13;

  @media (max-width: 768px) and (min-width: 577px) {
    margin-top: 8vh;
    height: 80%;
    width: 90%;
    font-size: 14px !important;
  }

  @media screen and(max-width: 576px) {
    width: 80%;
    font-size: 10px !important;
  }
}

.content-text-my-trust {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  @media (orientation: landscape) and (max-height: 380px){
    > h1 {
      font-size: 20px;
    }
    > span {
      font-size: 15px;
    }
  }

  @media screen and(max-width: 576px) {
    margin-bottom: 1.5em;
    justify-content: flex-end;
    align-items: center;

    > h1 {
      font-size: 14px;
      text-align: center;
    }

    > span {
      font-size: 13px;
      text-align: center;
    }
  }
}

.messages-my-trust {
  height: 2em;
  margin-top: 1.5em;
  font-family: Lato;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.29;
  color: #ffffff;

  @media (max-width: 768px) and (min-width: 577px) {
    font-size: 13.5px;
  }

  @media screen and(max-width: 576px) {
    font-size: 13.5px;
  }
}

.content-info-mytrust {
  @media (orientation: landscape) and (min-width: 768px) {
    display: grid !important;
    grid-template-columns: 3fr 2fr !important;
  }

  @media (orientation: landscape) and (max-width: 768px) and (min-width: 577px) {
    display: grid !important;
    grid-template-columns: 4fr 3fr !important;
  }

  @media (orientation: portrait) and (min-width: 577px) {
    display: grid !important;
    grid-template-columns: 4fr 3fr !important;
  }
}

.circle-icon-down {
  cursor: pointer;

  @media (orientation: landscape) and (max-height: 380px){
   height: 45px;
  }

  @media screen and(max-width: 576px) {
    display: none;
  }
}

.white-link {
  cursor: pointer;
  text-decoration: underline white;
}

.iconDown {
  font-size: 1em;
  width: 1em !important;
  margin: 0.8em;
  color: #6f32f2;
}

.main-quote {
  font-size: 30px;
  font-weight: 300;
}
