.logo {
  width: 120px;
  height: 31px;
  background: rgb(129, 128, 37);
  margin: 16px 24px 16px 0;
}

.ant-layout-header {
  position: fixed;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media screen and(max-width: 800px) {
    justify-content: space-between;
    padding: 0 25px;
  }
}

.menu-navbar-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent !important;
  border-bottom: none !important;

  > .ant-menu-item {
    font-family: Lato;
    font-size: 15px;
    font-weight: 600;
    border-bottom: none !important;
  
    @media screen and(max-width: 992px) {
      padding: 0 10px !important;
    }
  }

  @media screen and(max-width: 725px) {
    display: none !important;
  }
}

.menu-navbar-mobile{
  margin-top: 2em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: none !important;
  background: transparent !important;

  > .ant-menu-item {
    font-size: 16px;
  }
}

.text-dropdown {
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  margin-right: 0.5em;

  @media screen and(max-width: 900px) {
    display: none;
  }
}

.ant-dropdown-link {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: none !important;
}

.menu-white > .ant-menu-item:hover {
  color: #ffffff !important;
}

.menu-gray > .ant-menu-item:hover {
  color: #8a8f94 !important;
}

.menu-white > .ant-menu-item-selected {
  color: #ffffff !important;
}

.menu-gray > .ant-menu-item-selected {
  color: #8a8f94 !important;
}

.ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom: 3px solid #6f32f2 !important;
}

.container-dropdown {
  display: flex;
  align-items: center;

  @media screen and(max-width: 725px) {
    display: none !important;
  }
}

.menu-icon-header {
  color: #ffffff;
  font-size: 1.3em;

  @media screen and(min-width: 725px) {
    display: none !important;
  }
}
