.container-resources{
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @media (orientation: landscape){
    height: 90vh;
  }

  @media (orientation: landscape) and (max-height: 479px){
    height: 120vh;
  }

  @media (orientation: landscape) and (max-width: 992px) and (min-height: 480px) {
    align-items: center;
    height: 80vh;
  }

  @media (orientation: portrait) and (max-width: 576px) {
    height: 85vh;
    align-items: flex-end;
  }
}

.img-section-resources {
  height: 60%;

  @media screen and(max-width: 992px) {
    margin-top: 2em;
    display: block;
    width: 330px;
    height: 271px;
  }

  @media screen and(max-width: 750px) {
    width: 245px;
    height: 205px;
  }
}

.subtitle-section-resources {
  padding: 0.5em 1em;

  > a {
    border: solid 1px #ffffff;
    padding: 0.7em 1.2em;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;

    @media screen and(max-width: 750px) {
      font-size: 11px;
    }
  }
}
