$bluehover: #1890ff;

$primary_size: 8px;
$secondary_size: 16px;
$tertiary_size: 24px;

$color_primary: #1890ff;
$color_success: yellow;
$color_cancel: #ef5350;

$tablet-width: 768px;
$desktop-width: 1024px;

.ant-menu-item-selected {
  background-color: transparent !important;
}

.ant-btn-primary {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  border: solid 1px #ffffff;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  border-color: #ffffff;
}

.ant-card-meta-title {
  white-space: initial !important;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.33;
  color: #454545;
}

.ant-card-meta-description {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.45;
  color: #8a8f94;
}

.container-benefit-column {
  flex-direction: column;
}

.ant-collapse-item {
  background: transparent !important;

  .container-section-benefit {
    width: 100% !important;
    display: flex;
    align-items: center;

    .title-benefit {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.08;
    }

    .description-benefit {
      font-size: 13px;
      padding: 0 2.5em;
      font-weight: 300;
      line-height: 1.2;
      color: #8a8f94;
    }

    .ant-card-meta-description {
      font-size: 11px;
    }

    .ant-card-meta-avatar {
      padding: 0 0 1em 0;
    }
  }
}

.sections-dektop {
  height: 89vh;
}

.sections-mobile {
  @media (min-width: 576px) {
    display: none;
  }
}

.sortable-handler {
  touch-action: none !important;
}

/*****************
Modal
******************/

.ant-modal-wrap {
  display: flex;
  align-items: center;
}

.ant-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5em !important;
  width: 50%;

  > .ant-form {
    width: 50% !important;
  }

  @media (max-width: 576px) {
    display: block;
    width: 100%;

    > .ant-form {
      width: 100% !important;
    }
  }

  @media (max-width: 768px) and (min-width: 577px) {
    width: 75%;

    > .ant-form {
      width: 80% !important;
    }
  }

  @media (max-width: 992px) and (min-width: 769px) {
    width: 70%;

    > .ant-form {
      width: 55% !important;
    }
  }
}

.ant-modal {
  position: initial !important;
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.ant-modal-content {
  background-color: #643ee9 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100% !important;
}

/*****************
Drawer
******************/

.ant-drawer-content {
  background-color: #643ee9 !important;
  overflow-y: auto;
}

.ant-drawer-content-wrapper {
  height: 100% !important;
}

.drawer-invisible .ant-drawer-wrapper-body {
  display: none !important;
}

/*****************
Margin
******************/

.m {
  &_1 {
    margin: $primary_size;
  }

  &_2 {
    margin: $secondary_size;
  }

  &_3 {
    margin: $tertiary_size;
  }

  &_auto {
    margin: auto;
  }
}

.ml {
  &_1 {
    margin-left: $primary_size;
  }

  &_2 {
    margin-left: $secondary_size;
  }

  &_3 {
    margin-left: $tertiary_size;
  }

  &_auto {
    margin-left: auto;
  }
}

.mr {
  &_1 {
    margin-right: $primary_size;
  }

  &_2 {
    margin-right: $secondary_size;
  }

  &_3 {
    margin-right: $tertiary_size;
  }

  &_auto {
    margin-right: auto;
  }
}

.mt {
  &_1 {
    margin-top: $primary_size;
  }

  &_2 {
    margin-top: $secondary_size;
  }

  &_3 {
    margin-top: $tertiary_size;
  }

  &_auto {
    margin-top: auto;
  }
}

.mb {
  &_1 {
    margin-bottom: $primary_size;
  }

  &_2 {
    margin-bottom: $secondary_size;
  }

  &_3 {
    margin-bottom: $tertiary_size;
  }

  &_auto {
    margin-bottom: auto;
  }
}

/*****************
Padding
******************/

.p {
  &_1 {
    padding: $primary_size;
  }

  &_2 {
    padding: $secondary_size;
  }

  &_3 {
    padding: $tertiary_size;
  }

  &_auto {
    padding: auto;
  }
}

.pl {
  &_1 {
    padding-left: $primary_size;
  }

  &_2 {
    padding-left: $secondary_size;
  }

  &_3 {
    padding-left: $tertiary_size;
  }

  &_auto {
    padding-left: auto;
  }
}

.pr {
  &_1 {
    padding-right: $primary_size;
  }

  &_2 {
    padding-right: $secondary_size;
  }

  &_3 {
    padding-right: $tertiary_size;
  }

  &_auto {
    padding-right: auto;
  }
}

.pt {
  &_1 {
    padding-top: $primary_size;
  }

  &_2 {
    padding-top: $secondary_size;
  }

  &_3 {
    padding-top: $tertiary_size;
  }

  &_auto {
    padding-top: auto;
  }
}

.pb {
  &_1 {
    padding-bottom: $primary_size;
  }

  &_2 {
    padding-bottom: $secondary_size;
  }

  &_3 {
    padding-bottom: $tertiary_size;
  }

  &_auto {
    padding-bottom: auto;
  }
}

/*****************
Icon
******************/

.icon {
  &_cursor:hover {
    cursor: pointer;
  }

  &_primary {
    color: $color_primary;
  }

  &_success {
    color: $color_success;
  }

  &_delete {
    color: $color_cancel;
  }
}

/*****************
Sizes
******************/

.size {
  &_primary {
    font-size: $primary_size;
  }

  &_scundary {
    font-size: $secondary_size;
  }

  &_tertiary {
    font-size: $tertiary_size;
  }
}

/*****************
Buttons
******************/

.square-button {
  width: 110px;
  height: 110px;
  display: flex;
  flex-wrap: wrap;
  text-align: center !important;

  i {
    width: 100%;
    font-size: 2em;
  }

  span {
    margin: auto !important;
  }
}

/*****************
Divider
******************/

.divider-gray {
  background-color: rgba(255, 255, 255, 0.4) !important;
  height: 2px !important;
}

/*****************
    Text align
******************/
.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

/*****************
    Text color
******************/

.t-white {
  color: #ffffff;
}

/*****************
Buttons
******************/

.square {
  width: 110px;
  height: 110px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;

  i {
    width: 100%;
    font-size: 2em;
  }

  svg {
    margin: auto;
  }

  span {
    padding-top: 5px;
    font-size: 13px;
    margin: auto !important;
  }
}

/*****************
Mixins Responsive
******************/

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

/*****************
Body
******************/

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

/*****************
Spin
******************/

.spin-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 15%;
  left: -1%;
  @media screen and(min-width: 1450px) {
    top: 7%;
  }
}
