.container-benefit-customer {
  flex-direction: column;

  @media (max-width: 992px) and (min-width: 576px) {
    // flex-direction: row;

    .container-benefit-customer-texts {
      // width: 40%;
    }
  }
}

.container-benefit-customer-texts {
  @media (max-width: 576px) {
    text-align: center;
  }
}

.container-cards-customer {
  position: relative;
  height: 430px;

  @media (max-width: 992px) and (min-width: 576px) {
    height: 320px;
    width: 365px;
  }

  @media (orientation: landscape) and (max-width: 849px) {
    display: none;
  }

  @media (orientation: portrait) and (max-width: 690px) {
    display: none;
  }
}

.container-cards-customer > * {
  left: 35%;
  top: 35%;
  margin-left: 5px;
  position: absolute;
  width: 100px;
  font-size: 11px;
  font-family: lato;
  line-height: 1.11;
  padding-top: 10px;

  @media (max-width: 992px) and (min-width: 576px) {
    left: 38%;
    margin-left: -5px;
  }
}

.icon-customer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  width: min-content;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #f3f3f4;

  @media (max-width: 992px) and (min-width: 576px) {
    width: 33px;
    height: 33px;
    margin-bottom: 0.5em;
  }

  @media (max-width: 576px) {
    padding: 0 0 1em 0;
    background: transparent;
  }

  img {
    color: #454545;

    @media (max-width: 992px) and (min-width: 576px) {
      height: 23px;
      width: 23px;
    }

    @media (max-width: 576px) {
      
      height: 40px;
      width: 40px;
      font-size: 3em;
      color: #f48d30;
    }
  }
}

.container-card-customer {
  color: #454545;
  text-align: -webkit-center;
  font-size: 11px;
  font-family: lato;
  line-height: 1.11;
  width: 100px !important;

  @media (min-width: 576px) {
    color: #454545;
    &:hover {
      color: #6c41a8;
      .icon-customer img {
        width: 40px;
        height: 40px;
      }
    }
  }

  @media (max-width: 992px) and (min-width: 576px) {
    font-size: 9px;
  }
}

.center-image-customers {
  margin: 0 !important;
  padding: 0px;

  > img {
    width: 119px;
    height: 134px;

    @media (max-width: 992px) and (min-width: 576px) {
      width: 93px;
      height: 104px;
    }
  }
}

.container-cards-customer > :nth-of-type(1) {
  transform: rotate(0deg) translate(14em) rotate(0deg);
}
.container-cards-customer > :nth-of-type(2) {
  transform: rotate(51.4285714286deg) translate(14em) rotate(-51.4285714286deg);
}
.container-cards-customer > :nth-of-type(3) {
  transform: rotate(102.857142857deg) translate(14em) rotate(-102.857142857deg);
}
.container-cards-customer > :nth-of-type(4) {
  transform: rotate(154.285714286deg) translate(14em) rotate(-154.285714286deg);
}
.container-cards-customer > :nth-of-type(5) {
  transform: rotate(205.7142857146deg) translate(14em)
    rotate(-205.7142857146deg);
}
.container-cards-customer > :nth-of-type(6) {
  transform: rotate(257.1428571432deg) translate(14em)
    rotate(-257.1428571432deg);
}
.container-cards-customer > :nth-of-type(7) {
  transform: rotate(308.5714285718deg) translate(14em)
    rotate(-308.5714285718deg);
}
