.app-btn {
    width: 139px;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: #643ee9;
    border-radius: 17px;
    margin: 1em;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.icon-button {
    width: 20px;
    height: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.6em;
    flex: 5;
}

.subtitle-btn {
    color: #fff;
    font-size: 7px;
    font-family: Lato;
}

.title-btn {
    color: #fff;
    font-family: Lato;
    font-size: 18px;
    @media (max-width: 849px) {
        font-size: 15px;
    }
}