.background-image-app {
    display: flex;
    width: 70vh;
    height: auto;
    flex-direction: column;
    background-position: right top;
    padding: 7em;
    justify-content: center;

    @media (max-width: 1169px) {
        padding: 8em;
    }
    @media (max-width: 1060px) {
        padding: 8em 6em;
    }
    @media (max-width: 849px) {
        padding: 8em 17em 8em 6em;
    }
    @media (max-width: 849px) {
        padding: 7em 15em 7em 5em;
    }
    @media (max-width: 518px) {
        padding: 5em 11em 5em 4em;
    }
    @media (max-width: 480px) {
        padding: 5em 8em 5em 4em;
    }
    @media (max-width: 400px) and (max-height: 780px) {
        padding: 5em 4em 5em 2em;
    }
    @media (max-width: 400px) and (min-height: 781px) {
        padding: 2em 4em 2em 2em;
    }
    @media (min-width: 1020px) and (min-height: 1360px) {
        width: 37vh;
        padding: 8em 14em 8em 5em;
    }
    @media(orientation: landscape) and (max-width: 850px) {
        padding: 8em 24em 8em 3em;
        width: 100%;
    }
    //iPhone 4 responsive landscape
    @media(orientation: landscape) and (max-width: 480px) and (min-height: 320px) {
        padding: 8em 17em 8em 3em;
    }
    //iPhone X responsive landscape
    @media (orientation: landscape) and (width: 812px) and (height: 375px) {
        padding: 8em 36em 8em 3em;
    }
}

.wallet-title-app {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    font-family: Lato;
    
    @media (min-width: 1430px) and (min-height: 680px) {
        font-size: 25px;
    }
    @media (max-width: 1349px) {
        font-size: 28px;
    }
    @media (max-width: 1175px) {
        font-size: 22px;
    }
    @media (max-width: 600px) {
        font-size: 18px;
    }
    @media (max-width: 400px) {
        font-size: 15px;
    }
    @media (max-width: 400px) and (min-height: 781px) {
        font-size: 18px;
    }  
}

.wallet-description-app {
    color: #fff;
    font-size: 18px;
    margin-top: 2em;
    @media (min-width: 1430px) and (min-height: 680px) {
        font-size: 16px;
    }
    @media (max-width: 1349px) {
        font-size: 14px;
    }
    @media (max-width: 1175px) {
        font-size: 12px;
    }
    @media (max-width: 620px) {
        margin-top: 0em;
    }
    @media (max-width: 400px) {
        font-size: 11px;
    }
    @media (max-width: 400px) and (min-height: 781px) {
        font-size: 13px;
    } 
}

.wallet-steps-list {
    padding-left: 1.4em;
    margin-top: 0.5em;
}

.wallet-steps-list li {
    color: #fff;
    font-size: 18px;
    margin-top: 0.8em;
    @media (min-width: 1430px) and (min-height: 680px) {
        font-size: 16px;
    }
    @media (max-width: 1349px) {
        font-size: 14px;
    }
    @media (max-width: 1175px) {
        font-size: 12px;
    }
    @media (max-width: 400px) {
        margin-top: 0.2em;
        font-size: 11px;
    }
    @media (max-width: 400px) and (min-height: 781px) {
        font-size: 13px;
    }
}

.description-container-app {
    display: flex;
    flex: 3;
    padding-right: 7em;
    @media (max-width: 1000px) {
        padding-right: 8em;
    }
    @media (max-width: 1000px) {
        padding-right: 6em;
    }
    @media (max-width: 849px) {
        padding: 0em 10em;
    }
    @media (max-width: 849px) {
        padding: 0em 10em;
    }
    @media (max-width: 635px) {
        padding: 0em 7em;
    }
    @media (max-width: 565px) {
        padding: 0em 5em;
    }
    @media (max-width: 500px) {
        padding: 0em 3em;
    }
    @media (max-width: 445px) {
        padding: 0em 1em;
    }
}

.phone-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.phone-btns-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle-download {
    display: flex;
    margin-right: -5em;
    flex-direction: column;
    align-items: center;
    padding: 6.5em 3.8em;
    border-radius: 50%;
    justify-content: center;
}

.node-download-img {
    width: 100px !important;
    height: 100px !important;
}

.text-container p {
    line-height: 5pt;
}

.download-section-title {
    color: #643ee9;
    font-size: 20px;
    font-family: Lato;
    @media (max-width: 1349px) {
        font-size: 17px;
    }
    @media (max-width: 1026px) {
        font-size: 14px;
    }
    @media (max-width: 849px) {
        font-size: 13px;
        font-weight: bold;
    }
    @media (max-width: 500px) {
        font-size: 10px;
    }
    @media (min-width: 1020px) and (min-height: 1360px) {
        font-size: 12px;
    }
}

.phone-img {
    width: 192px;
    height: 390px;
    @media (max-width: 1139px) {
        width: 172px;
        height: 360px;
    }
    @media (max-width: 1000px) {
        width: 152px;
        height: 320px;
    }
    @media (max-width: 849px) {
        width: 100px;
        height: 200px;
    }
}

.main-container-app {
    display: flex;
    flex: 4;
    @media (min-width: 1430px) and (min-height: 680px) {
        flex: 2.5;
    }
}

.container-wallet {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100vw;
    height: 110vh;
    overflow: hidden;
    margin-top: 9em;
    background-repeat: no-repeat !important;
    background-size: auto 110vh !important;

    @media (max-width: 849px) {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    @media (min-width: 1024px) and (min-height: 1366px) {
        background-size: 100vw auto !important;
        background-position: center center !important; 
        height: 65vh;
    }

    @media(orientation: landscape) and (max-width: 850px) {
        height: 210vh;
        background-size: auto 180vh !important;
    }
}
.container-mobile {
    @media (min-width: 850px) {
        display: none;
    }
}
.container-desktop {
    @media (max-width: 849px) {
        display: none;
    }
}