.container-cards-organization {
  display: none;

  @media (orientation: landscape) and (min-width: 850px) and (min-height: 580px)  {
    display: grid;
    margin-top: 3em;
    grid-template-columns: 1fr 1fr;
  }

  @media (orientation: portrait) and (min-width: 690px) and (min-height: 780px)  {
    display: grid;
    margin-top: 3em;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 992px) {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }

  @media (max-width: 992px) and (min-width: 576px) {
    margin-top: 3em;
  }

  > .ant-card-bordered {
    border: none !important;

    @media (max-width: 992px) and (min-width: 576px) {
      max-width: initial;
    }
  }
}
