.container-business-case-desktop {
  display: none;

  @media (orientation: landscape) and (min-height: 480px) and (min-width: 1100px){
  //4 columnas
    display: flex;
    min-height: 89vh;
    justify-content: center;
    align-items: center;
  }
  
  @media (orientation: landscape) and (min-height: 650px) and (min-width: 850px) {
    //3 columnas
    display: flex;
    min-height: 89vh;
    justify-content: center;
    align-items: center;
  }

  @media (orientation: landscape) and (min-width: 993px) and (min-height:1200px) {
    //2 columnas
    display: flex;
    min-height: 89vh;
    justify-content: center;
    align-items: center;
  }

  @media  (orientation: portrait) and (min-width: 585px) and (min-height:870px) {
    display: flex;
    min-height: 89vh;
    justify-content: center;
    align-items: center;
  }
}

.container-cards-business {
  display: grid;
  width: min-content;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (orientation: landscape) and (min-height: 650px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (orientation: portrait) and (min-width: 585px) and (min-height:870px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1590px) and (max-width: 1625px) {
    grid-row-gap: 1.6em;
    grid-column-gap: 1.6em;
  }

  @media (min-width: 1626px) {
    grid-row-gap: 2.5em;
    grid-column-gap: 2.5em;
  }
}

.title-section-desktop {
  font-family: Lato;
  font-size: 28px;
  font-weight: bold;
  line-height: 0.75;
  color: #643ee9;
}

.description-section-dektop {
  margin-top: 1em;
  font-family: Lato;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: #8a8f94;
}

.container-card-business-case {
  margin: 0.3em;
  width: 240px;
  height: 165px;
  position: relative;
  perspective: 1000px;
  
  @extend .cards-responsive-size;
}

.container-card-business-case:hover .card-business-case {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-business-case {
  width: 240px;
  height: 165px;
  transform-style: preserve-3d;
  transition: all 0.5s linear;

  @extend .cards-responsive-size;
}

.card-business-front {
  position: absolute;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07);

  > div {
    color: #ffffff;
    padding: 1em;
    display: flex;
    border-radius: 8px;
    align-items: flex-end;
    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    line-height: 1;
    background-size: cover !important;
    width: 240px;
    height: 165px;

    @media (orientation: portrait) and (min-height: 1100px) and (min-width: 845px){
      width: 350px;
      height: 220px;
    }

    @extend .cards-responsive-size;
  }
}

.card-business-front.card-business-back {
  height: 100%;
  font-family: Lato;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-business-back {
  background-color: #6a5aba;
  border-radius: 8px;
  padding: 2em;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  > h5 {
    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    line-height: 1;
    color: #ffffff;
  }
}

.container-business-case-mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 3em;

  @media (orientation: landscape) and (min-height: 479px) and (min-width: 1100px){
      display: none;
    }
    
    @media (orientation: landscape) and (min-height: 650px) and (min-width: 850px) {
      display: none;
    }
  
    @media (orientation: landscape) and (min-width: 993px) and (min-height:1200px) {
      display: none;
    }
  
    @media (orientation: portrait) and (min-width: 585px) and (min-height:870px){
      display: none;
    }
}

.carousel-business-case-mobile {
  .slick-arrow {
    display: none !important;
  }

  .slick-list {
    height: 330px;
  }

  .ant-card {
    height: 320px;
    .ant-card-body {
      padding: 1em;
    }
  }
  .container-card-carousel {
    margin: 0 0.5em;
  }
}

.img-carousel-business-case {
  height: auto;
}

.cards-responsive-size {
  @media (orientation: portrait) and (min-height: 1100px) and (min-width: 845px){
    width: 350px;
    height: 220px;
  }

  @media (min-width: 1250px) and (max-width: 1419px) and (min-height:690px) {
    width: 250px;
    height: 190px;
  }

  @media (min-width: 1420px) and (max-width: 1470px) {
    width: 250px;
    height: 190px;
  }

  @media (min-width: 1590px) and (max-width: 1625px) {
    width: 280px;
    height: 190px;
  }

  @media (min-width: 1626px) {
    width: 300px;
    height: 210px;
  }
}
