.container-customers-section {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: space-evenly;

  @media (orientation: portrait){
    height: auto;
  }

  @media (orientation: landscape) and (max-height: 479px){
    margin-bottom: 3em;
  }

  @media screen and (max-width: 992px) and (min-height: 550px){
    height: 55vh;
  }

  @media  (orientation: landscape) and (min-width: 730px) and(max-width: 1200px) {
    padding-right: 4.3em;
    padding-left: 4.3em;
  }

  @media  (orientation: landscape)  and(max-width: 730px) {
    padding-right: 3em;
    padding-left: 3em;
  }

  @media (orientation: portrait) and (min-width: 730px) {
    padding-right: 3.5em;
    padding-left: 3.5em;
  }

  @media screen and (max-width: 650px) {
    margin-top: 3em;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: row;
  }

  @media (orientation: portrait) and (max-width: 650px) {
    flex-direction: column;
  }

  @media screen and(max-width: 576px) {
    justify-content: center;
  }
}

.container-customers-section-clients {
  display: flex;
  height: 80vh;
  padding-top: 1.8em;
  align-items: center;
  justify-content: space-evenly;

  @media (orientation: portrait) and(max-width: 992px) {
    padding-left: 6em;
    align-items: flex-start;
    padding-top: 1em;
    flex-direction: column;
  }

  @media (orientation: portrait) and (max-width: 780px) {
    padding-left: 0em;
    align-items: center;
    justify-content: center;
  }

  @media (orientation: portrait) and(max-width: 576px) {
    justify-content: flex-end;
    height: 70vh;
  }
}

.container-texts-customer-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  @media (orientation: portrait) and (max-width: 729px) {
    width: 80%;
    align-items: center;
    justify-content: center;
  }
}

.container-texts-customer-section-org {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media (orientation: portrait) and(max-width: 992px) {
    align-items: center;
    width: 60%;
  }

  @media (orientation: portrait) and (max-width: 657px) {
    width: 70%;
  }
}

.title-section-customers {
  margin: 1.5em 0;
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  color: #643ee9;

  @media screen and(max-width: 850px) {
    font-size: 18px;
  }

  @media (orientation: portrait) and (max-width: 800px) {
    text-align: center;
    font-size: 18px;
  }

  @media (orientation: portrait) and (max-width: 657px) {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
  }
}

.underline-primary-color {
  text-decoration: underline #643ee9;
}

.subtitle-section-customers {
  z-index: 2;
  cursor: pointer;
  font-family: Lato;
  font-size: 12px;
  font-weight: 600;
  color: #643ee9;

  @media screen and(max-width: 650px) {
    font-family: Lato;
    font-size: 9px;
    font-weight: 600;
    text-align: center;
    color: #643ee9;
  }
}

.clients-desktop-img {
  display: block;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media screen and(max-width: 992px) {
    margin-top: 2em;
    align-self: center;
  }
}

.org-container-image {
  margin: 1em;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s;

  @extend .circle-image-responsive-size;
}

.org-container-image:hover {
  box-shadow: 0px 3px 3px 3px rgba(124, 124, 124, 0.15);
}

.clickable-image-org {
  @extend .circle-image-responsive-size;
}

.container-image-organization {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top-container-image {
  @media screen and (min-width: 1000px) {
    padding-left: 90px;
  }
}

.circle-image-responsive-size {
  width: 140px;
  height: 140px;
  border-radius: 50%;

  @media screen and (min-width: 1440px) {
    width: 170px;
    height: 170px;
  }

  @media (orientation: landscape) and (max-width: 1200px) {
    width: 120px;
    height: 120px;
  }

  @media (orientation: landscape) and (max-width: 950px) {
    width: 110px;
    height: 110px;
  }

  @media (orientation: landscape) and (max-width: 800px) {
    width: 90px;
    height: 90px;
  }

  @media (orientation: portrait) and (max-width: 800px) {
    width: 140px;
    height: 140px;
  }

  @media (orientation: portrait) and (max-width: 600px) {
    width: 120px;
    height: 120px;
  }

  @media (orientation: portrait) and (max-width: 520px) {
    width: 100px;
    height: 100px;
  }

  @media (orientation: landscape) and(max-width: 600px) {
    width: 80px;
    height: 80px;
  }

  @media screen and(max-width: 426px) {
    width: 70px;
    height: 70px;
  }
}

.title-section-clients {
  width: 80%;
}
